{% if tabla_vendedores %}
    <div class="table-responsive mt-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Vendedor</th>
                    <th>Ventas Totales</th>
                    <th>Meta de Ventas</th>
                    <th>Comisión (%)</th>
                    <th>Bono Total</th>
                </tr>
            </thead>
            <tbody>
                {% for vendedor in tabla_vendedores %}
                    <tr>
                        <td>{{ vendedor.nombre }}</td>
                        <td>${{ vendedor.ventas_totales }}</td>
                        <td>${{ vendedor.meta_venta }}</td>
                        <td>{{ vendedor.comision|floatformat:2 }}%</td>
                        <td>${{ vendedor.bono }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
